@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-richblack-900 text-richblack-5;
  }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner .7s linear infinite;
}